discord.py
yt-dlp[default,curl-cffi]
ffmpeg-python
aiofiles
speedtest-cli
TagScriptEngine
python-dotenv
psutil
aiohttp
aiofiles
discord.py
ffmpeg
ffmpeg-python
flask
psutil
python-dotenv
speedtest-cli
TagScriptEngine
yt-dlp
pyparsing
